<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container text-center">

        <div class="section-title" data-aos="fade-up">
            <h2 *ngIf="!ar" [ngStyle]="myStyles" class="display-3"> Products </h2>
            <h2 *ngIf="ar" [ngStyle]="myStyles" class="display-3"> المنتجات </h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="../../../assets/img/brand/p11.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-plus-circle"></i></a>
                        <a title="More Details"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="../../../assets/img/brand/p22.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-plus-circle"></i></a>
                        <a title="More Details"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="../../../assets/img/brand/p33.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-plus-circle"></i></a>
                        <a title="More Details"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="../../../assets/img/brand/p44.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-plus-circle"></i></a>
                        <a title="More Details"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="../../../assets/img/brand/p11.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-plus-circle"></i></a>
                        <a title="More Details"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="../../../assets/img/brand/p22.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-plus-circle"></i></a>
                        <a title="More Details"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="../../../assets/img/brand/p33.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-plus-circle"></i></a>
                        <a title="More Details"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="../../../assets/img/brand/p44.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-plus-circle"></i></a>
                        <a title="More Details"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Portfolio Section -->


<!------------------ news  ------------------->
<section class="section section-shaped" style="background-color: #474b4ff6;">
    <h2 *ngIf="!ar" [ngStyle]="myStyles" class="display-3 "> Products </h2>
    <h2 *ngIf="ar" [ngStyle]="myStyles" class="display-3"> المنتجات </h2>
    <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container py-md">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0 rounded ">
                <h1 [ngStyle]="myStyles" class="display-3 text-white">{{titels}} </h1>
                <p [ngStyle]="myStyles" class="lead text-white mt-4">{{intro}}</p>
            </div>
            <div class="col-lg-6 mb-lg-auto">
                <div class="rounded overflow-hidden ">

                    <div class="row align-items-center justify-content-center " data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500 ">
                        <div class="col-lg-9 col-md-9 col-sm-9 text-center">
                        </div>
                    </div>
                    <img class="img-fluid" [src]="images">

                </div>
            </div>
        </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
    </div>
</section>
<!---------------------- End News-->


<!-- ======= Supports Section ======= -->
<section id="services" class="services section-bg" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
    <div class="container text-center">

        <div class="section-title" data-aos="fade-up">
            <h2 *ngIf="!ar" [ngStyle]="myStyles" class="display-3"> Supports </h2>
            <h2 *ngIf="ar" [ngStyle]="myStyles" class="display-3"> الدعم </h2>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"> <i class="fas fa-cogs fa-4x"></i>
                    </div>
                    <h4 class="title"><a>Solutions & Services</a></h4>
                </div>
            </div>

            <div class="col-md-6 col-lg-2 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"> <i class="fas fa-laptop fa-4x"></i>
                    </div>
                    <h4 class="title"><a>Online Support</a></h4>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"> <i class="fas fa-video fa-4x"></i>
                    </div>
                    <h4 class="title"><a> Product Training Videos</a></h4>
                </div>
            </div>

            <div class="col-md-6 col-lg-2 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"> <i class="fas fa-cloud-download-alt fa-4x"></i>

                    </div>
                    <h4 class="title"><a>Download Center</a></h4>
                </div>
            </div>

            <div class="col-md-6 col-lg-2 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"> <i class="fas fa-question fa-4x"></i>


                    </div>
                    <h4 class="title"><a> FAQ’s </a></h4>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Services Section -->






<!-- ======= Our Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container text-center" data-aos="fade-up">

        <div class="section-title">
            <h2 *ngIf="!ar" [ngStyle]="myStyles" class="display-3"> Our Clients </h2>
            <h2 *ngIf="ar" [ngStyle]="myStyles" class="display-3"> العملاء </h2>
        </div>

        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo">
                    <img src="../../../assets/img/brand/client1.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo">
                    <img src="../../../assets/img/brand/client2.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo">
                    <img src="../../../assets/img/brand/client3.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo">
                    <img src="../../../assets/img/brand/client4.png" class="img-fluid" alt="">
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Our Clients Section -->





<!--------------------- contact us ---------------------->
<!-- <section class="section section-lg pt-lg-0 section-contact-us" style="background-image: url(../../assets/img/brand/earth-3866609_1920.jpg);background-size: cover;
  margin-top: 3%;">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-lg-4   mb-5" style="margin-top: 10%;" data-aos="flip-up">
                <form class="p-5 bg-form justify-content-center" name="form" #form="ngForm">

                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">

                            <input type="text" name="firstNameng" #firstName="ngModel" [(ngModel)]="message.firstName">
                        </div>
                        <div class="col-md-6">

                            <input type="text" name="lasttName" #lastName="ngModel" class="form-control" autocomplete="off" placeholder="Last Name" [(ngModel)]="message.lastName">
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">

                            <input type="email" name="email" #email="ngModel" class="form-control" autocomplete="off" placeholder=" Enter Your Email" [(ngModel)]="message.email">
                        </div>
                    </div>



                    <div class="row form-group">
                        <div class="col-md-12">

                            <textarea name="description" cols="30" rows="7" class="form-control" placeholder="Enter Your Message" #description="ngModel" class="form-control" autocomplete="off" [(ngModel)]="message.message"></textarea>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row form-group ">
                            <div class="col-md-12" *ngIf="!ar" [ngStyle]="myStyles">
                                <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white" (click)="save()" [disabled]="isBusy">
                            </div>

                            <div class="col-md-12" *ngIf="ar" [ngStyle]="myStyles">
                                <input type="submit" value="ارسل رسالتك " class="btn btn-primary btn-md text-white" (click)="save()" [disabled]="isBusy">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
      

        </div>
    </div>
</section>   -->
<!-- ------------- End Contact us ------------------------>