<!----------------- social menu -------------->
<nav class="fade-Right">
    <ul>
        <li>
            <div class="home-icon">
                <i class="fab fa-facebook-f"></i>
            </div>
        </li>

        <li>
            <div class="about-icon">
                <i class="fab fa-twitter"></i> </div>
        </li>

        <li>
            <div class="work-icon">
                <i class="fab fa-google"></i>
            </div>
        </li>

        <li>
            <div class="work-icon">
                <i class="fab fa-linkedin-in"></i>
            </div>
        </li>
        <li>
            <div class="mail-icon">
                <i class="fab fa-youtube"></i>
            </div>

        </li>
    </ul>
</nav>
<!------------------ End social menu-->